
.profile_img {
    display: flex;
    border-radius: 50%;
    margin-left:45%;
    top: 5%;
}


.profile_detail{
    margin-left:13%;
    margin-right:10%;
    margin-top:3%;
    padding-top: 5%;
    padding-left: 10%;
    min-width: 10%;
    border: 2px solid rgb(176, 176, 177);
    border-radius: 15px;
    column-count: 2;
    right: 13%;
    min-height: 600px;
    text-align: left;
    
}